*:focus {
    outline: none;
}


body {
    background: url('../images/notfound.gif') center center no-repeat #fff;
}

html, body, #map {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
    overflow: hidden;
    z-index: 0;
}

#overview-map,
.location {
    position: absolute;
	z-index: 10;
}

#overview-map {
    width: 100px;
    height: 100px;
    background: #fff;
    bottom: 20px;
    left: 20px;
    border: 3px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
       -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.location {
	bottom: 20px; // was 45
    left: 135px;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-shadow: 0 0 1px rgba(0,0,0,0.6), 1px 1px 2px rgba(0,0,0,0.35);
}

.location-extent {
	bottom: 20px;
	font-weight: normal;
}

#overview-map .esri-leaflet-logo.leaflet-control {
    display: none;
}

.esri-leaflet-logo {
    margin-right: 2.5px!important;
    margin-bottom: 2.5px!important;
}

.easy-button-button {
	background-image: url('../images/home.png');
}

.scene-view {
    position: absolute;
    top: 10;
    right: 10;
    z-index: 9999;
    background-color: white;
    font-style: normal;
}

.scene-view a {
    color: black
}

.button,
.location {
  position: absolute;
	z-index: 10;
}


#filter {
    top: 340px;
}
.details-form-div, .share-url-div {
    /*background: white;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 150px;
    //margin-top: -250px;
    margin-left: -150px;
    z-index: 10;*/
    display: none;
}
/*#share-copy {
    position: absolute;
    z-index: 9;
    width: 150px;
    background: green;
    left: 50%;
    top: 50%;
}
#share-view {
    position: absolute;
    z-index: 9;
    width: 150px;
    background: green;
    top: 50%;
    right: 50%;
}*/
.share {
    position: absolute;
    z-index: 9;
}

#display-screenshot-div {
    display: none;
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    top: 50%;
    left: 50%;
    width: 60%;
    /*height: 75%;*/
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 1em;
    clear: both;
    z-index: 99999
}
#canvas {
    width: 100%;
    /*height: 90%;*/
    z-index: 99999;
}
#canvas-beneath {
  float: left;
  z-index: 999999;
}
#canvas-caption-div {
  position: absolute;
  /* left: 50%; */
  bottom: 0;
  font-size: 30px;
  float: left;
  color: rgba(255, 255, 255, 0.65);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
#canvas-close {
    position: absolute;
    height: 25px;
    align: right;
    right: 15px;
    bottom: 40px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.39); /* Black w/ opacity */
    box-sizing: border-box;
    background-image: url(../images/viewfinder.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.modalShare {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 0px;

}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-top: -15px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}
input[type=submit] {
    width: auto;
    background-color: #2c719c;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}
#geocode-submit-button {
    width: auto;
    background-color: #eda504;
    color: white;
    padding: 12px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}
label {
    font-size: 18px;
}

#overview-map {
    display: none;
}

.leaflet-control-zoom {
  display: none;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 11px;
    float: right;
    color: rgba(255, 255, 255, 0.61);
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.65)!important;
    margin: 0;
    padding: 2px 7px;
}
.location.location-name {
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 4px 9px;
    font-weight: 100;
    letter-spacing: .5;
}
.location.location-extent {
    bottom: 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 4px 9px;
    font-weight: 100;
}
.location {
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 1px rgba(0,0,0,0.6), 1px 1px 2px rgba(0,0,0,0.35);
    font-family: 'Montserrat', sans-serif;
}
.leaflet-bar a:first-child, .leaflet-bar a:last-child {
    border-radius: 0px!important;
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-family: Times;
    color: #333333;
    font-weight: 100;
    line-height: 32px;
}
.leaflet-bar a, .leaflet-bar a:hover {
    border-bottom: 1px solid rgb(92, 86, 86);
}
.leaflet-bar a:first-child:hover, .leaflet-bar a:last-child:hover {
    border-radius: 0px!important;
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-family: Times;
    color: #838383;
    font-weight: 100;
    line-height: 32px;
}
.leaflet-bar button:last-of-type:hover, .leaflet-bar button:first-of-type:hover {
    border-radius: 0px!important;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.leaflet-bar {
    box-shadow: none;
}
.leaflet-bar button:last-of-type, .leaflet-bar button:first-of-type {
    border-radius: 0px!important;
    width: 32px;
    height: 32px;
    line-height: 32px;
}

#hidden-button-group {
    top: 15;
    right: 15;
    height: 250px;
    width: 250px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
#button-group {
    top: 15;
    right: 15;
    height: 200px;
    width: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
}
.button {
    width: 50px;
    height: 50px;
    position: relative;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: white;
    cursor: pointer;
}
.button:hover {
    color: #a1a1a1;
}
/*.button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    align: right;
}*/

li .tooltiptext {
    visibility: hidden;
    display: inline-block;
    /* width: 120px; */
    width: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 125%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

li:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
i {
    margin-top: 13px;
}

/* Geocoder stuff */


/* Snackbar stuff */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*overview map styling*/

#overview{
    width: 150px;
    height: 150px;
    z-index: 999999999;
    position: absolute;
    bottom: 50px;
    right: 50px;
    pointer-events: none;
    opacity: 0.8;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
  }

  .fill {
    fill: rgb(235, 232, 232);
  }

  .graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
    display: none
  }

  .land {
    fill: #222;
  }

  .boundary {
      display: none;
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
  }

  .marker{
      fill: orange;
      stroke: red;
  }

  #marker-pin{
      border-radius: 100%;
      width: 10px;
      height:10px;
      position: absolute;
      right:70px;
      bottom:70px;
      background-color: #eda504;
      opacity: 0.8;
  }

/* Social sharing */

#share-form {
  display: inline;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    background: #2c719c;
    border: none;
    width: 3.8em;
    height: 3em;
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

/*.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}*/

.share-btn.twitter     { background: #55acee; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
